:root {
  --main-background-color: #e5e5e5;
  --header-background-color: #ffffff;
  --sec-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --hero-background-color: #c4c4c4;

  --primary-text-color: #212121;
  --sec-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --link-color: #afb1b8;

  --function-duration: 250ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--header-background-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-inline-start: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.text-none {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

header {
  background-color: var(--header-background-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .nav-header {
  display: flex;
  align-items: center;
}

.all-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: var(--white-text-color);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.nav-link {
  /* position: relative; */
  color: var(--primary-text-color);
  transition: color var(--function-duration) var(--function-timing);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current-link {
  position: relative;
  color: var(--accent-color);
}

.current-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts container */

.contacts-container {
  display: flex;
  margin-left: auto;
}

.contacts-container .item + .item {
  margin-left: 50px;
}

.contacts-container .contacts-link,
.site-nav .nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-container .contacts-link {
  color: var(--sec-text-color);
  transition: color var(--function-duration) var(--function-timing);
}

.contacts-container .contacts-link:hover,
.contacts-container .contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/developers.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-studio {
  padding: 0;

  background-color: var(--hero-background-color);
  text-align: center;
}

.hero-studio .hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-studio .main-caption {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--header-background-color);
}

.hero-studio .button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--header-background-color);
  background-color: var(--accent-color);
}

/* Our qualities */

.section-quality {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-quality .quality {
  display: flex;
}

.quality .item + .item {
  margin-left: 30px;
}

.quality .item {
  width: 270px;
}

.section-quality .quality-caption {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.section-quality .text-quality {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}

.feature {
  display: flex;
  margin-bottom: 30px;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature .icon-feature {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

/* Work */

.section-photo {
  padding-bottom: 94px;
}

.section-photo .photo-work {
  display: flex;
  margin-top: 50px;
}

.photo-work .item + .item {
  margin-left: 30px;
}

.photo-work .works {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo-work .thumb {
  position: relative;
}

.photo-work .label {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Our command */

.section-command .list-command {
  display: flex;
  margin-top: 50px;
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--sec-background-color);
}

.section-command .item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-command .item + .item {
  margin-left: 30px;
}

.section-command .photo-command {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 30px;
}

.section-command .command-caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section-command .text-command {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}

.social-command {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-command .list-social + .list-social {
  margin-left: 10px;
}

.command-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--link-color);
  transition: background-color var(--function-duration) var(--function-timing),
    color var(--function-duration) var(--function-timing);
}

.social-command .command-link:hover,
.social-command .command-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  fill: currentColor;
}

.icon-command {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Clients */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients .list-clients {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.section-clients .icon-clients {
  fill: currentColor;
}

.link-clients {
  display: inline-flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  color: var(--link-color);
  transition: color var(--function-duration) var(--function-timing),
    boder-color var(--function-duration) var(--function-timing);
}

.section-clients .item + .item {
  margin-left: 30px;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  fill: currentColor;
}

/* Hero portfolio */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-portfolio .portfolio-filter {
  display: flex;
}

.portfolio-filter.center {
  justify-content: center;
}
.section-portfolio .button-filter {
  display: inline-block;
  margin-bottom: 50px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--sec-background-color);

  transition: background-color var(--function-duration) var(--function-timing),
    color var(--function-duration) var(--function-timing);
}

.section-portfolio .button-filter:hover,
.section-portfolio .button-filter:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

/* Project */

.list-project {
  display: flex;
  flex-wrap: wrap;
}

.list-project .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-project .item:nth-child(3n) {
  margin-right: 0;
}

.list-project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-project .item {
  background-color: var(--header-background-color);
}

.list-project .photo-project {
  position: relative;

  border: none;
  overflow: hidden;
}

.img-project {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  /* opacity: 0.5; */

  transform: translatey(100%);
  transition: transform var(--function-duration) var(--function-timing);
}

.text-overlay {
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
}

.list-project .item:hover .project-overlay {
  transform: translatey(0);
}

.link-project {
  display: block;
  transition: box-shadow var(--function-duration) var(--function-timing);
}

.link-project:hover,
.link-project:focus,
.link-project:focus .project-overlay {
  transform: translatey(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-portfolio .caption-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.section-portfolio .text-project {
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}

.list-project .text-border {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Footer */

footer {
  background-color: var(--dark-background-color);
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.address {
  width: 231px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-address {
  display: block;
}

.address .logo {
  margin-bottom: 20px;
}

.list-address .item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-footer {
  display: block;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--function-duration) var(--function-timing);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.text-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--header-background-color);
}

.social-address {
  width: 206px;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer-list {
  display: flex;
}

.text-footer {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.social-address .item + .item {
  margin-left: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--function-duration) var(--function-timing);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
  fill: currentColor;
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--function-duration) var(--function-timing);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--function-duration) var(--function-timing);
}

.backdrop.hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close {
  position: absolute;
  /* display: block;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px; */
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--header-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
