:root {
  --main-background-color: #e5e5e5;
  --header-background-color: #ffffff;
  --sec-background-color: #f5f4fa;
  --dark-background-color: #2f303a;

  --primary-text-color: #212121;
  --sec-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--header-background-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-inline-start: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.text-none {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

header {
  background-color: var(--header-background-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .nav-header {
  display: flex;
  align-items: center;
}

.all-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: var(--white-text-color);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts container */

.contacts-container {
  display: flex;
  margin-left: auto;
}

.contacts-container .item + .item {
  margin-left: 50px;
}

.contacts-container .contacts-link,
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-container .contacts-link {
  color: var(--sec-text-color);
}

.contacts-container .contacts-link:hover,
.contacts-container .contacts-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-studio {
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-studio .hero-title {
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-studio .main-caption {
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--header-background-color);
}

.hero-studio .button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--header-background-color);
  background-color: var(--accent-color);
}

/* Our qualities */

.section-quality {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-quality .quality {
  display: flex;
}

.quality .item + .item {
  margin-left: 30px;
}

.quality .item {
  width: 270px;
}

.section-quality .quality-caption {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.section-quality .text-quality {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}

/* Work */

.section-photo {
  padding-bottom: 94px;
}
.section-photo .photo-work {
  display: flex;
  margin-top: 50px;
}

.photo-work .item + .item {
  margin-left: 30px;
}

.photo-work .works {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Our command */
.section-command .list-command {
  display: flex;
  margin-top: 50px;
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--sec-background-color);
}

.section-command .item {
  border-radius: 0px 0px 4px 4px;

  background-color: var(--header-background-color);
}

.section-command .item + .item {
  margin-left: 30px;
}

.section-command .photo-command {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 30px;
}

.section-command .command-caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section-command .text-command {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}
/* Hero portfolio */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: white; */
}

.section-portfolio .portfolio-filter {
  display: flex;
}

.portfolio-filter.center {
  justify-content: center;
}
.section-portfolio .button-filter {
  display: inline-block;
  margin-bottom: 50px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--sec-background-color);
}

.section-portfolio .button-filter:hover,
.section-portfolio .button-filter:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

/* Project */

.list-project {
  display: flex;
  flex-wrap: wrap;
}

.list-project .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-project .item:nth-child(3n) {
  margin-right: 0;
}

.list-project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-project .item {
  background-color: var(--header-background-color);
}

.list-project .photo-project {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

.section-portfolio .caption-project {
  /* margin: 20px 24px 4px 24px; */
  /* padding: 20px 24px 4px 24px; */

  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.section-portfolio .text-project {
  /* margin-right: 24px; */
  /* margin-bottom: 20px; */
  /* margin-left: 24px; */

  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}

.list-project .text-border {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}

.footer-list .list-address {
  display: block;
}

.footer-list .logo {
  margin-bottom: 20px;
}

.list-address .item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-footer {
  display: block;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:hover,
.contacts-footer :focus {
  color: var(--accent-color);
}

.text-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--header-background-color);
}
