.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients .clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.section-clients .icon-clients {
  fill: currentColor;
}

.link-clients {
  display: flex;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  color: $link-color;
  transition: color $function-duration $function-timing,
    boder-color $function-duration $function-timing;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    fill: currentColor;
  }
}
