.section-command {
  background-color: $sec-background-color;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-command .command-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    // margin-top: 50px;
  }
}

.section-command .command-item {
  border-radius: 0px 0px 4px 4px;
  background-color: $header-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

// .section-command .command-item + .command-item {
//   margin-left: 30px;
// }

.section-command .photo-command {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 30px;
}

.section-command .command-caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: $sectext-font-size;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.section-command .text-command {
  margin-bottom: 16px;

  font-size: $sectext-font-size;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: $sec-text-color;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list .social-item + .social-item {
  margin-left: 10px;
}

.command-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $link-color;
  transition: background-color $function-duration $function-timing,
    color $function-duration $function-timing;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-text-color;
    fill: currentColor;
  }
}

.icon-command {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
