.overlay {
  max-width: 480px;
  height: 400px;
  margin: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/hero/headerm.jpg');

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero/headerm@2x.jpg');
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero/headerm@3x.jpg');
  }

  @media screen and (min-width: 576px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero/headert.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero/headert@2x.jpg');
    }

    @media screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero/headert@3x.jpg');
    }
  }

  @media screen and (min-width: 960px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero/headerpc.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero/headerpc@2x.jpg');
    }

    @media screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero/headerpc@3x.jpg');
    }
  }
}

.hero-studio {
  // padding-top: 118px;
  // padding-bottom: 118px;

  background-color: $hero-background-color;
  text-align: center;

  // @media screen and (min-width: 1200px) {
  //   // padding-top: 118px;
  //   // padding-bottom: 118px;
  // }
}

.hero-studio .hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  // margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero-studio .main-caption {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;

  color: $header-background-color;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero-studio .hero-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: $bold-font-weight;
  font-size: $sectext-font-size;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;

  color: $header-background-color;
  background-color: $accent-color;
}
