.section-quality {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-quality .quality-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.quality-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.section-quality .quality-caption {
  margin-bottom: 10px;

  font-weight: $bold-font-weight;
  font-size: $text-font-size;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-text-color;
}

.section-quality .text-quality {
  font-size: $text-font-size;
  line-height: 1.71;

  color: $sec-text-color;
}

.feature {
  display: flex;
  margin-bottom: 30px;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
}

.feature .icon-feature {
  width: 70px;
  height: 70px;
  fill: currentColor;
}
