.contacts-container {
  display: flex;
  margin-left: auto;
}

.contacts-container .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-container .contacts-link,
.site-nav .nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: $text-font-size;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-container .contacts-link {
  color: $sec-text-color;
  transition: color $function-duration $function-timing;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}
