.menu-button {
  display: inline-flex;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;

  &:hover {
    color: $accent-color;
    fill: currentColor;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-button {
  fill: currentColor;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: $header-background-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
