.site-nav {
  display: block;
  margin-bottom: 302px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-left: 93px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
//   display: flex;
//   margin-left: 93px;
// }

.nav-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

// .site-nav .nav-item + .nav-item {
//   margin-left: 50px;
// }

.nav-link {
  color: $primary-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  // text-align: center;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: $text-font-size;
    line-height: 1.14;
    // text-align: center;
  }

  @media screen and (min-width: 1200px) {
    transition: color $function-duration $function-timing;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.current-link {
  position: relative;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}
