.address {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  // width: 231px;
  // padding-top: 60px;
  // padding-bottom: 60px;
  text-align: center;
}

.list-address .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer {
  display: block;
  font-size: $text-font-size;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color $function-duration $function-timing;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.text-address {
  font-style: normal;
  font-size: $text-font-size;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: $header-background-color;
}
