.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $dark-background-color;
}

.footer-page {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.address-page {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    margin-bottom: 0;
  }
}
