.list-project {
  display: flex;
  flex-wrap: wrap;
}

.list-project .project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-project .project-item:nth-child(3n) {
  margin-right: 0;
}

.list-project .project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-project .photo-project {
  position: relative;

  border: none;
  overflow: hidden;
}

.img-project {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  /* opacity: 0.5; */

  transform: translatey(100%);
  transition: transform $function-duration $function-timing;
}

.text-overlay {
  padding: 63px 24px;
  // font-family: Roboto;
  //   font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $white-text-color;
}

.list-project .project-item:hover .project-overlay {
  transform: translatey(0);
}

.link-project {
  display: block;
  transition: box-shadow $function-duration $function-timing;
}

.link-project:hover,
.link-project:focus,
.link-project:focus .project-overlay {
  transform: translatey(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-portfolio .caption-project {
  margin-bottom: 4px;
  font-weight: $bold-font-weight;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: $primary-text-color;
}

.section-portfolio .text-project {
  font-size: $sectext-font-size;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: $sec-text-color;
}

.list-project .text-border {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
